{% extends "base.html" %}

{% block title %}{{ SITENAME }} | {% if tag %}Tag {% endif %}Archives{% if tag %} - {{tag}}{% endif %}{% endblock %}
{% block content %}

    {% if tag %}
    <h1>Tag Archives: <a href="{{ SITEURL }}/tag/{{ tag }}" class="tags selected">{{ tag }}</a></h1>
    {% else %}
    <h1>Archives</h1>
    {% endif %}

    {% set_global current_year = 9000 %}
    {% set_global current_month = 13 %}
    {% for article in dates|reverse %}
    {#article: {{ article.date.date }} current vars: {{ current_year }} {{ current_month }}#}
        {% if article.date.year < current_year %}
            {% set_global current_month = 13 %}
        {% endif %}
        {% if article.date.month < current_month %}
            {# we need to end the previous list and post archives div first #}
            {% if not loop.first %}
                </ul>
                </div>
            {% endif %}
            <h4 class="date">{{ article.date.date | date(format="%b %Y") }}</h4>
            <div class="post archives">
            <ul>
            {% set_global current_month = article.date.month %}
        {% endif %}
                {% set blurb = article.content | truncate(length=30) %}
                <li><a href="{{ SITEURL }}/{{ article.slug }}">{% if article.title %}{{ article.title }}{% else %}{{ article.date.date | date(format="%b %d") }} @ {{ article.date.time }}: {{ blurb }}{% if blurb | length > 30 %} ...{% endif %}{% endif %}</a></li>
        {% if loop.last %}
            </ul>
            </div>
        {% endif %}
        {% set_global current_year = article.date.year %}
    {% endfor %}
{% endblock %}
