            {% if not articles_page or first_article_of_day %}
            <h4 class="date">{{ article.published | date(format="%b %d, %Y") }}</h4>
            {% endif %}

            <article class="post">
                {% if article.bookmark_of %}
                <h2 class="title">
                    <a href="{{ article.bookmark_of }}" class="bookmark-of" rel="nofollow" title="Bookmark of &quot;{{ article.title }}&quot;">🔖 {{ article.title }}</a>
                </h2>
                {% elif article.title %}
                <h2 class="title">
                    <a href="{{ SITEURL }}/{{ article.slug }}" rel="bookmark" title="Permanent Link to &quot;{{ article.title }}&quot;">{{ article.title }}</a>
                </h2>
                {% endif %}

		{% if not articles_page %}
		{% include "translations.html" %}
		{% endif %}                
                

                {{ article.content | safe }}
                <div class="clear"></div>

                <div class="info">
                    {# rel="bookmark" is different from bookmark-of and indicates a permalink to this page. #}
                    <a href="{{ SITEURL }}/{{ article.slug }}" rel="bookmark" title="Permanent Link to &quot;{{ article.title }}&quot;">posted at {{ article.published | date(format="%H:%M") }}</a>
                    {% if article.category and article.category.name != "misc" %}
                    &nbsp;&middot;&nbsp;<a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag">{{ article.category }}</a>
                    {% endif %}
                    {% if article.tags %}
                    &nbsp;&middot;
                    {% for t in article.tags %}
                    &nbsp;<a href="{{ SITEURL }}/tag/{{ t }}" class="tags{% if tag and tag.name == t %} selected{% endif %}">{{ t }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
		{% if articles_page and DISQUS_SITENAME %}
		<a href="{{ SITEURL }}/{{ article.slug }}#disqus_thread">Click to read and post comments</a>
		{% else %}
		{% include "disqus.html" %}
		{% endif %}
            </article>
